fastapi
langchain
langchain-community
langchain-unstructured
python-multipart
unstructured[all-docs]
pymupdf
# extract image to text from pdf
rapidocr-onnxruntime

# for aws lambda
mangum
# for local / self-host
uvicorn
# for testclient
#httpx
#python-dotenv
#pytest
#trio