fastapi
open-text-embeddings
python-multipart
starlette_validation_uploadfile
openai
unstructured[all-docs]

# for aws lambda
mangum
# for local / self-host
# uvicorn
# for testclient
#httpx
#python-dotenv