fastapi
langchain
langchain-community
langchain-unstructured
python-multipart
unstructured[all-docs]
pymupdf
# extract image to text from pdf
rapidocr-onnxruntime

# for aws lambda
mangum
# for local / self-host
uvicorn
python-dotenv # For .env file support, used by pydantic-settings
pydantic-settings # For managing settings
# for testclient
#httpx
#python-dotenv
#pytest
#trio