service: load-split-count

frameworkVersion: "3"

provider:
  name: aws
  # REF: https://www.serverless.com/blog/container-support-for-lambda
  ecr:
    # In this section you can define images that will be built locally and uploaded to ECR
    images:
      appimage:
        path: ./
        file: Dockerfile
        buildArgs:
          MODEL: ${env:MODEL}
  stage: ${env:STAGE, 'dev'}
  region: us-east-1
  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
          Resource: "*"

functions:
  ingest:
    image:
      name: appimage
    memorySize: 512
    environment:
      RUNTIME: aws-lambda
      CHUNK_SIZE: 500
      CHUNK_OVERLAP: 20
      SUPPORTED_FILE_TYPES: text/plain,application/pdf,text/html,text/markdown,application/vnd.ms-powerpoint,application/vnd.openxmlformats-officedocument.presentationml.presentation,application/msword,application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/epub+zip,message/rfc822,application/gzip
      MAX_FILE_SIZE_IN_MB: 10
      NLTK_DATA: /tmp
      DELETE_TEMP_FILE: 1
      MODEL: ${env:MODEL}
      TRANSFORMERS_CACHE: /tmp/transformer_cache
    timeout:
      900
      # https://www.serverless.com/framework/docs/providers/aws/guide/functions#lambda-function-urls
    url: true
